
.current {
    color:var(--accent-color);
    position: relative;
      }
    .current::after {
      position: absolute;
      content:"";
      background: #2196F3;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    bottom: 1px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 50%);
    }